@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row top">
        <div class="col-xs-6 bg-1 text-center section">
            <p>Projects</p>
        </div>
        <div class="col-xs-6 bg-2 text-center section">
            <p>Tutorials</p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-xs-12 bg-3 text-center section">
            <a href="https://www.youtube.com/watch?v=CDCfnh_CmU8">Contact</a>
        </div>
    </div>
</div>